@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montez&family=Montserrat&display=swap');

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-userif !important;
}

